

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  list-style: none;
}

.container-flex{
  max-width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
}

.container{
  max-width: 90%;
  margin: 0px auto;
}

.mid-container{
  max-width: 70%;
  margin: 0px auto;
}


@media only screen and (max-width:1460px){
  .mid-container{
    max-width: 90%!important;
    margin: 0px auto;
  }
}

.main-content{
  min-height: 600px;
}